// navbar
.navbar-fixed {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 101;
}


// ksp-img
.ksp-card {
    img {
        transform-origin: top;
        transform: scale(1.1);
    }
}

// bg-img 
.bg-img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}