

@font-face {
    font-family: "OPPOSans-Ver3-Bold";
    src: url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.woff2) format("woff2"),
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.woff) format("woff"),
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.ttf) format("truetype"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.eot) format("embedded-opentype");
    font-weight:400;font-style:normal;font-display:swap;
}
@font-face {
    font-family: "OPPOSans-Ver3-Medium";
    src: url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.woff2) format("woff2"), 
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.woff) format("woff"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.ttf) format("truetype"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.eot) format("embedded-opentype");
    font-weight:400;font-style:normal;font-display:swap;
}
@font-face {
    font-family: "OPPOSans-Ver3-Regular";
    src: url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.woff2) format("woff2"), 
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.woff) format("woff"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.ttf) format("truetype"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.eot) format("embedded-opentype");
    font-weight:400;font-style:normal;font-display:swap;
}


.font-OPPO-medium {
    font-family: "OPPOSans-Ver3-Medium";
}