@font-face {
    font-family: 'OPPOSans-Bold';
    src: url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.woff2) format("woff2"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.woff) format("woff"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.ttf) format("truetype"), 
    url(https://code.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansB/OPPOSans-B.svg) format("svg"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-B.eot) format("embedded-opentype");
    font-weight: 200;
    font-style: normal
}


@font-face {
    font-family: 'OPPOSans-Medium';
    src: url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.woff2) format("woff2"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.woff) format("woff"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.ttf) format("truetype"), 
    url(https://code.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansM/OPPOSans-M.svg) format("svg"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-M.eot) format("embedded-opentype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'OPPOSans-Regular';
    src: url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.woff2) format("woff2"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.woff) format("woff"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.ttf) format("truetype"), 
    url(https://code.oppo.com/cn/assets/src/fonts/zh-CN/OPPOSansR/OPPOSans-R.svg) format("svg"), 
    url(https://code.oppo.com/etc.clientlibs/global-site/clientlibs/ui.frontend/clientlib-design/resources/fonts/OPPOSans-R.eot) format("embedded-opentype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "OPPOSans-Ver3-Bold";
    src: url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.woff2) format("woff2"),
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.woff) format("woff"),
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.ttf) format("truetype"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.eot) format("embedded-opentype");
    font-weight:400;font-style:normal;font-display:swap;
}
@font-face {
    font-family: "OPPOSans-Ver3-Medium";
    src: url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.woff2) format("woff2"), 
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.woff) format("woff"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.ttf) format("truetype"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.eot) format("embedded-opentype");
    font-weight:400;font-style:normal;font-display:swap;
}
@font-face {
    font-family: "OPPOSans-Ver3-Regular";
    src: url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.woff2) format("woff2"), 
    url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.woff) format("woff"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.ttf) format("truetype"),
      url(https://code.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.eot) format("embedded-opentype");
    font-weight:400;font-style:normal;font-display:swap;
}