body, html {
    font-family: OPPOSans-Ver3-Regular, Helvetica, Arial, sans-serif, system-ui;
    font-size: 14px;
}

input {
    &:focus {
        outline: none;
    }
}

:root {
    // --vw: 1vw;
    // --r: 1;
    // --vh: 1vh;
    --content-height: 100vh;
    --nav-height: 48px;
  }